{% extends 'dashboard/index.html' %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Striped Table</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>#</th>
                                <th>Name</th>
                            </thead>
                            <tbody>
                                {% for i in category %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ i.name }}</td>
                                        <td class="td-actions">
                                            <a href="{% url 'dashboard_category_detail' pk=i.id %}" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                <i class="ti-user"></i>
                                            </a>
                                            <a href="{% url 'dashboard_category_edit' pk=i.id %}" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                <i class="ti-pencil-alt"></i>
                                            </a>
                                            <a href="{% url 'dashboard_category_delete' pk=i.id %}" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="{% url 'dashboard_category_add' %}"><button class="btn btn-success btn-fill btn-wd">Add Category</button></a>



{% endblock %}